.content {
  margin-top: 20px !important;
}
.slide .center {
  vertical-align: top;
}

.column {
  float: left;
  overflow-x: scroll;
}

.column-2 {
  width: 48%;
}

.slide {
  background-image: -webkit-radial-gradient(left top, #eef2f2 5px, #f2f2ff 500px);
}