body {
  text-align: left;
  width: 92%;
}

.content {
  height: 1000px;
  margin: 0 40px;
}

h1 {
  position: relative;
  top: 0px;
  color: #777;
}

.front h1 {
  text-align: right;
}

.front img {
  margin-top: -100px;
}

.speaker > h1,
.speaker > p {
 text-align: right;
 position: relative;
 top: 0;
}


.sh_gherkin code {

  font-size: .5em;
}

div#first {
  width: 50%
  position: absolute;
  left: 0%;
}

div.column {
  width: 50%;
  position: absolute;
}

div.column code {
  font-size: 1.2em;
  line-height: 1.1;
}


h3 {
  text-align: left;
  margin-left: 40px;
}

div.column-1 {
  left: 0;
}

div.column-2 {
  right: 0
}

.credit {
  display: block;
  font-size: 50%;
  padding-top: 5px;
  text-align: center; 
}

object {
  margin-left: 400px;
}

pre.sh_gherkin{
  line-height: .7; 
}


